@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
// font-family: 'Lato', sans-serif;

// *******
// GLOBALS
// *******

$color_main : #eb4d4c;
// $color_main : #EB4D4C;
$color_bg_player_one : #f7f7f7;
$label_btn_font_size:1.3em;
$player_text_font-size:2em;
$player_score_font-size:3em;
$player_score_temp_font-size:2em;
$player_score_temp_color:#fff;
$dice_side:7em;
// $dice_dot_radius:7em;

// $color_main : #ffffff;

* {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    white-space: nowrap;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(185,181,139,1) 0%, rgba(152,125,97,1) 4%, rgba(185,187,90,1) 30%, rgb(148, 83, 53) 52%, rgb(158, 72, 33) 77%, rgba(180,141,124,1) 100%);
    background-size: 10px 10px calc(100% - 2px) 7px, 1px 1px, 7px calc(100% - 2px);
    background-position: top left,top center,top right,center right, bottom right,bottom center,bottom left,center left;
    background-repeat: no-repeat;
}

.main-color{
    color: $color_main;
}

.hide{
    opacity: 0;
}

//********
// BOARD
//********

.container-game-board{
    width: 100vw;
    height: 100vh;
    & .game-board{
        width: 97%;
        height: 95%;
        & .bg-player{
            &-one{
                background-color: $color_bg_player_one;
                width: 50%;
            }
            &-two{
                background-color: #fff;
                width: 50%;
            }
        }
    }
}


//******
//BUTTONS & ICONS
//******
.game-btn-wrapper{    
    & .game-text{
        font-size: $label_btn_font_size;
        }
    & .game-icon{
        width: $label_btn_font_size+0.6em;
    }
}


//*******
// PLAYER AND SCORE
//*******

.wrapper-player{
    // font-size: 50px;
    & .player-turn{
        font-size: $player_text_font-size;
        font-weight: 300;
        &-dot{
            width:$player_text_font-size/4;
            height:$player_text_font-size/4;
            background-color: $color_main;
        }
    }
}

#player-one-score,#player-two-score{
    font-weight: 300;
    font-size:$player_score_font-size;
}


//*************
// SCORE TEMP
//************

.wrapper-score-temp{
    background-color: $color_main;
}

#player-one-score-temp,#player-two-score-temp{
    font-size: $player_score_temp_font-size;
    color: $player_score_temp_color;
}



//***************
// DICE 
//***************

.dice{
    background-color: #fff;
    width:$dice_side;
    height: $dice_side;
    box-shadow: 0px 0px 13px 1px #BAB8B9;
    border-radius: $dice_side/12;
    &-dot{
        height: $dice_side/6;
        width: $dice_side/6;
        margin: $dice_side/12;
        background-color: $color_main;
        border-radius: 50%;
    }
}
